@(
base :List[ODLProject],
addons :List[ODLProject],
apps :List[ODLProject]
)
<!--main-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>OpenDaylight Download Page</title>

<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/styles.css")" />
<script type='text/javascript' src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
<script type='text/javascript' src="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
<link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" rel="stylesheet">
<script type="text/javascript" src="@routes.Assets.at("javascripts/jquery.flip.min.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/script.js")"></script>
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/theme.css")">

</head>

<body>
<h1>OpenDaylight Customized Distribution Download</h1>
<p>Please select the features you want for your customized controller distribution:</p>
<div id="base">
    <h2>Base Features</h2>
    <p>Base features that are providing additional configuration of the controller</p>
    <div class="componentListHolder">
            @for(project <- base)  {
                <div class="component" title="Click to flip">
                    <div class="componentFlip">
                        <img src="@routes.Assets.at("images/projects/" + project.img)" alt="More about '.$company[0].'" />
                        <div class="componentName">
                            @project.name
                        </div>
                         <div class="componentDescription">
                            @project.description
                        </div>
                    </div>

                    <div class="componentSelected">
                       <img class="componentImg" src="@routes.Assets.at("images/checkmark.png")" alt="More about '.$company[0].'" />
                       <div class="componentName">
                            @project.name
                        </div>
                        <div class="componentDescription">
                        <h2 style="text-align:center,text-weight:bold,font-size:16px">Selected</h2>
                        </div>
                    </div>
                </div>
            }

        <div class="clear"></div>
    </div>
</div>
<div id="Addons">
    <h2>Add-ons</h2>
    <p>These items are specific add-ons that you can add to the basic controller behavior to improve its functionalities</p>
    <div class="componentListHolder">
            @for(project <- addons)  {
                <div class="component" title="Click to flip">
                    <div class="componentFlip">
                        <img src="@routes.Assets.at("images/projects/" + project.img)" alt="More about '.$company[0].'" />
                        <div class="componentName">
                            @project.name
                        </div>
                        <div class="componentDescription">
                            @project.description
                        </div>
                    </div>

                    <div class="componentSelected">
                        <img class="componentImg" src="@routes.Assets.at("images/checkmark.png")" alt="More about '.$company[0].'" />
                        <div class="componentName">
                            @project.name
                        </div>
                        <div class="componentDescription">
                            <h2 style="text-align:center,text-weight:bold,font-size:16px">Selected</h2>
                        </div>
                    </div>
                </div>
            }


        <div class="clear"></div>
    </div>
</div>
<div id="Applications">
    <h2>Applications</h2>
    <p>These applications are useful for opendaylight based use cases. However they usually will think that they are alone using the controller and as such will have behavior across all connected devices
    </p>
    <div class="componentListHolder">
            @for(project <- apps)  {
                <div class="component" title="Click to flip">
                    <div class="componentFlip">
                        <img src="@routes.Assets.at("images/projects/" + project.img)" alt="More about '.$company[0].'" />
                        <div class="componentName">
                            @project.name
                        </div>
                        <div class="componentDescription">
                            @project.description
                        </div>
                    </div>

                    <div class="componentSelected">
                        <img class="componentImg" src="@routes.Assets.at("images/checkmark.png")" alt="More about '.$company[0].'" />
                        <div class="componentName">
                            @project.name
                        </div>
                        <div class="componentDescription">
                            <h2 style="text-align:center,text-weight:bold,font-size:16px">Selected</h2>
                        </div>
                    </div>
                </div>
            }

        <div class="clear"></div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-sm-12 text-center">
        <input id="bigbutton" type="submit" value="Download" onclick="alert('coming shortly')" />
    </div>
</div>
<p></p>
</body>
</html>