@(features: Seq[Feature], projects: List[String])

@main("OpenDaylight Project Explorer", projects) {
<!--main-->
<div class="container" id="main">
<div id="all-features-div">
<div class="row">
@for((feature,i) <- features.zipWithIndex){
  @if(i%3 == 0){
     </div>
     <div class="row">
      <div class="col-md-4 col-sm-6">
          <div class="panel panel-default">
              <div class="panel-heading"><a href="/features/details?feature=@feature.name" class="pull-right">Details @i</a><div class="panel-title">@feature.name</div><div class="panel-subtitle">@feature.version</div></div>
              <div class="panel-body">
                  <h4>Description</h4>
                  <div>@feature.desc</div>
                  <div class="feature-description">This is @feature.desc the latest</div>
              </div>
          </div>
      </div>
  }else{
    <div class="col-md-4 col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading"><a href="/features/details?feature=@feature.name" class="pull-right">Details @i</a><div class="panel-title">@feature.name</div><div class="panel-subtitle">@feature.version</div></div>
            <div class="panel-body">
                <h4>Description</h4>
                <div>@feature.desc</div>
                <div class="feature-description">This is @feature.desc the latest</div>
            </div>
        </div>
    </div>
  }
}
</div>

<div class="row">
    <br>
    <div class="clearfix"></div>
    <hr>
    <div class="col-md-3">Inocybe Technologies Inc.<br>Keep IT Simple</div>
    <div class="col-md-3">&copy; 2005–2014 All Rights Reserved.</div>
    <div class="col-md-3">53 Bellehumeur Suite 212, Gatineau, Quebec, J8T 6K5</div>
    <div class="col-md-3">Phone 1-888-445-7505</div>
    <hr>
</div>
</div><!--/main-->


}
